$font-stack: Helvetica, sans-serif, ;
$primary-color: rgb(80, 18, 18);
$secondary-color: rgb(34,18,18);


body {
  font: 100% $font-stack;
  background-color: rgb(246, 240, 240);
}
.container {
    margin: auto;
    max-width: 750px;
    font-family: $font-stack;
  }
  
  .heading {
    color: rgb(0, 4, 3);
   
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }

.site-title {
  font-size: 3rem;
  font-family: "Mea Culpa",cursive;
  color: rgba(31, 201, 170, 0.676);
  font-weight: 700;
  margin: 3rem 0;
}